/*设置页面通用样式*/
*{box-sizing:border-box;}
body{font:16px microsoft yahei,Arial,Helvetica,sans-serif;color:#666;margin:0;padding:0;background:#FFFAF5;width:100%;}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,pre{margin:0;padding:0;list-style:none;}
a:hover{color:#0aa1ed;}
a{text-decoration:none;color:#4D4D4D;}
img{vertical-align:bottom;}
table{border-collapse:collapse;border-spacing:0;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}

@keyframes Opacity {
    0% {opacity:0;  }

    100% {opacity:1;}
}